.movie__poster {
  width: 320px;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 20px 50px rgb(0 0 0 / 60%);
}

.movie__trailer-img {
  width: 320px;
  max-width: 100%;
  cursor: pointer;
}

.movie__name {
  margin-bottom: 10px;
  font-weight: 900;
}

.movie__genres {
  margin-top: 5px;
}

.movie__fast-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.movie__alternative-name {
  font-family: "Montserrat";
  font-size: 18px;
  color: rgb(108, 41, 163);
}

.movie__ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.movie__rating-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.movie__description {
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  border: 1px rgb(108, 41, 163) solid;
  background: #1a1a1a;
  box-shadow: 0 20px 50px rgb(0 0 0 / 60%);
}

.movie__slogan {
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
  quotes: "\201d""\201e";
}

.movie__swiper {
  min-height: 265px;
}

.movie__swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.movie__swiper-slide-photo {
  width: 100px;
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  border: 1px solid rgba(108, 41, 163, 0.9);
  border-radius: 5px;
}

.movie__swiper-slide-name {
  text-align: center;
}

.movie__swiper-slide-role {
  color: rgba(255, 255, 255, 0.6);
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: #6c29a3 !important;
}

.movie__list-item {
  position: relative;
  min-height: 50px;
}

.movie__list-item::before {
  position: absolute;
  top: 13px;
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 50%;
  background-color: rgba(108, 41, 163, 0.7);
}

.movie__spoiler {
  filter: blur(8px);
  transition: all .3s;
}

.no-blur {
  filter: blur(0px);
}

.movie__spoiler-warning {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 100%;
}

.movie__buttons-row {
  display: flex;
  gap: 10px;
}

.css-28sabn:focus-visible {
  outline: none;
}

.all {
  pointer-events: none;
}
