.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0c0c0c;
  padding: 20px 0;
}

.header__menu {
  display: flex;
  gap: 30px;
}

.header__logo {
  width: 205px;
}
