.movie__poster {
  max-width: 320px;
  border-radius: 5px;
  box-shadow: 0 20px 50px rgb(0 0 0 / 60%);
}

.movie__trailer-img {
  max-width: 320px;
  cursor: pointer;
}

.movie__name {
  margin-bottom: 10px;
}

.movie__genres {
  margin-top: 5px;
}

.movie__fast-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.movie__alternative-name {
  font-family: "Montserrat";
  font-size: 18px;
  color: rgb(108, 41, 163);
}

.movie__ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.movie__rating-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.movie__description {
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  border: 1px rgb(108, 41, 163) solid;
  background: #1a1a1a;
  box-shadow: 0 20px 50px rgb(0 0 0 / 60%);
}

.movie__slogan {
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
  quotes: "\201d""\201e";
}
